In [2]:
# 0. Cosine Similarity
# 1. One Hot Encoding??
# 2. Transformer??

# 0. Cosine Similarity

$similarity=cos(Θ)=\frac{A⋅B}{||A||\ ||B||}=\frac{\sum_{i=1}^{n}{A_{i}×B_{i}}}{\sqrt{\sum_{i=1}^{n}(A_{i})^2}×\sqrt{\sum_{i=1}^{n}(B_{i})^2}}$

In [44]:

answers = [["남자", "여자"],["17살", "18살"],["INFP", "ENFP", 'ESFJ', "ISFJ", "ISFP", "ESFP", "INTP","INFJ", "ENFJ", "ENTP", "ESTJ", "ISTJ", "INTJ", "ISTP", "ESTP", "ENTJ"],
                ["A", "B", "AB", "O"],
                ["한식", "양식", "중식", "일식"],
                 [
        "빨강", "주황", "노랑", "초록", "파랑", "보라", "흰색", "검은색"]]

In [45]:
import pandas as pd

data = pd.read_csv("./sample_data.csv")

In [46]:
data.head()

   schoolNumber gender   age  mbti  bloodtype  favoriteFood  favoriteColor
0         10214     남자   17살  ENFJ          B            한식             빨강
1         10215     남자   17살  INFJ          A            중식             파랑
2         10216     여자   18살  ENFP          B            일식             빨강
3         10217     남자   18살  ENTJ         AB            한식             초록
4         10218     여자   17살  ENFJ          O            양식             파랑

In [50]:
def get_index(df):
    indexes = []
    for i, answer in enumerate(answers):
        no_blank_ele = df[i].strip()
        temp_i = answer.index(no_blank_ele)        
        indexes.append(temp_i)

    return indexes

In [82]:
labels = data.iloc[:, 0]
index_dataframe = data.iloc[:, 1:].apply(get_index, axis=1)

In [54]:
import numpy as np
from numpy import dot
from numpy.linalg import norm

def cos_sim(A, B):
  return dot(A, B)/(norm(A)*norm(B))

In [127]:
cosine_similarity_matrix = np.array([[cos_sim(np.array(index_dataframe[a]), np.array(index_dataframe[b])) for a in range(len(index_dataframe))] for b in range(len(index_dataframe))])

In [128]:
cosine_similarity_matrix

array([[1.        , 0.83619353, 0.30960941, 0.97882308, 0.871159  ],
       [0.83619353, 1.        , 0.43405737, 0.91109228, 0.93387012],
       [0.30960941, 0.43405737, 1.        , 0.32292516, 0.43611285],
       [0.97882308, 0.91109228, 0.32292516, 1.        , 0.93574915],
       [0.871159  , 0.93387012, 0.43611285, 0.93574915, 1.        ]])

In [130]:
def visualize_cosine_similarity(matrix):
    h, w = matrix.shape

    for h_ in range(h):
        for w_ in range(w):
            print(matrix[h_][w_], end=" ")
        print("\n")

In [132]:
visualize_cosine_similarity(cosine_similarity_matrix)

1.0000000000000002 0.8361935308041741 0.3096094122692017 0.9788230815833022 0.8711590010278556

0.8361935308041741 1.0 0.4340573661412156 0.9110922782740798 0.9338701161577686

0.3096094122692017 0.4340573661412156 1.0000000000000002 0.3229251563163078 0.43611285347218537

0.9788230815833022 0.9110922782740798 0.3229251563163078 1.0 0.9357491467186196

0.8711590010278556 0.9338701161577686 0.43611285347218537 0.9357491467186196 1.0

In [133]:

labels.rename(None, inplace=True)

0    10214
1    10215
2    10216
3    10217
4    10218
dtype: int64

In [134]:
cosine_dataframe = pd.DataFrame(cosine_similarity_matrix, columns=labels, index=labels)

In [135]:
cosine_dataframe.head()

          10214     10215     10216     10217     10218
10214  1.000000  0.836194  0.309609  0.978823  0.871159
10215  0.836194  1.000000  0.434057  0.911092  0.933870
10216  0.309609  0.434057  1.000000  0.322925  0.436113
10217  0.978823  0.911092  0.322925  1.000000  0.935749
10218  0.871159  0.933870  0.436113  0.935749  1.000000

In [136]:
for i in cosine_dataframe.index:
    cosine_dataframe.loc[i][i] = 0

cosine_dataframe.head()

          10214     10215     10216     10217     10218
10214  0.000000  0.836194  0.309609  0.978823  0.871159
10215  0.836194  0.000000  0.434057  0.911092  0.933870
10216  0.309609  0.434057  0.000000  0.322925  0.436113
10217  0.978823  0.911092  0.322925  0.000000  0.935749
10218  0.871159  0.933870  0.436113  0.935749  0.000000

In [137]:
cosine_dataframe.loc[10214, :]

10214    0.000000
10215    0.836194
10216    0.309609
10217    0.978823
10218    0.871159
Name: 10214, dtype: float64

In [143]:
test = cosine_dataframe.copy()


# prev_index = []
# for schoolNumber in labels:
#     similairty = test.loc[schoolNumber, :]
#     print(similairty)
#     while True:
#         max_similairty = similairty.idxmax()

#         if max_similairty not in prev_index:
#             test.loc[schoolNumber, :] = 0
#             test.loc[:, schoolNumber] = 0
#             prev_index.append(max_similairty)
#             break

#         test.loc[schoolNumber, max_similairty] = 0
#         # print(cosine_dataframe)
#         print(max_similairty)

# print(prev_index)

matching_status = []
for schoolNumber in labels:
    similairty = test.loc[schoolNumber, :]
    
    if similairty.max() == 0:
        print("Matching isn't possible..")
        break
    max_similairty = similairty.idxmax()

    test.loc[schoolNumber, :] = 0
    test.loc[:, schoolNumber] = 0
    test.loc[max_similairty, :] = 0
    test.loc[:, max_similairty] = 0

    matching_status.append([schoolNumber, max_similairty])    

print(matching_status)

Matching isn't possible..
[[10214, 10217], [10215, 10218]]